@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

hr{
    color: #ff4400;
    margin-bottom: 0%;
    margin-top: 0%;
}

header{
    height: 7.5rem;
    display: flex;
    justify-content: baseline;
    background-color: #040913;
}

.header_side1{
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.coderise_logo{
    margin-top: 1.5rem;
    height: 6rem;
    width: 8rem;
}

.header_side1 h1{
    font-family: 'Archivo';
    margin-bottom: 0rem;
    color: white;
    height: 2.5rem;
    font-weight: 700;
}

.header_side2{
    display: flex;
    width: 12rem;
    margin-left: 57%;
    align-items: center;
    justify-content: space-between;
}

.iniciar{
    background-color: #FF4500;
    font-family: 'Archivo';
    border-radius: 5rem;
    border-style: none;
    font-size: 1.2rem;
    color: white;
    height: 3rem;
    width: 10rem;
}

.hamburger_btn{
    background-color: transparent;
    border-style: none;
    margin-top: 0.7rem;
    margin-left: 15%;
    height: 3rem;
    width: 3rem;
}

.section1{
    background-color: #200F53;
    height: 55rem;
}

.block1A{
    display: flex;
    justify-content: baseline;
    position: relative;
}

.paragrafo1{
    font-family: 'Archivo';
    letter-spacing: 2%;
    line-height: 150%;
    font-size: 4rem;
    margin-bottom: 0%;
    margin-left: 8%;
    margin-top: 8%;
    color: white;
    width: 34rem;
}

.prompt{
    position: relative;
    margin-bottom: 12%;
    margin-left: 12%;
    margin-top: 4%;
}

.promptTitle{
    display: flex;
    justify-content: baseline;
    align-items: center;
    background-color: white;
    width: 30rem;
    height: 2rem;
}

.promptArea{
    display: flex;
    justify-content: baseline;
    color: white;
    height: 25rem;
}

.buyInfos{
    margin-left: 4.5rem;
    margin-top: 4rem;
}

.sale{
    display: flex;
    background-color: #D9D9D9;
    justify-content: center;
    border-radius: 5rem;
    font-weight: 700;
    height: 1.6rem;
    width: 5.4rem;
}

.promptTitle p{
    font-family: 'Archivo';
    margin-bottom: 0rem;
}

.tempo{
    margin-left: 0.7rem;
    font-weight: 700;
}

.X{
    margin-left: 45%;
    font-weight: 200;
}

.promptBash{
    width: 29.25rem;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.promptBash h4{
    font-family: 'AR One Sans';
    margin-bottom: 0rem;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}

.promptBash h2{
    display: flex;
    align-items: center;
    font-family: 'AR One Sans';
    margin-bottom: 2rem;
    font-size: 3.5rem;
    height: 3rem;
}

.promptBash p{
    font-weight: 700;
    font-size: 1rem;
    margin-left: 1rem;
}

.compreJa{
    height: 3.7rem;
    width: 20rem;
    color: white;
    font-size: 1.7rem;
    font-weight: 700;
    border-style: none;
    border-radius: 5rem;
    margin-bottom: 0.5rem;
    font-family: 'Archivo';
    background-color: #FF4500;
}

.scrollBar{
    background-color: #D9D9D9;
}

.scrollBar button{
    background-color: #B9B9B9;
    border-style: none;
    height: 1rem;
}

.block2A{
    font-family: 'Archivo';
    display:flex;
    flex-direction: column;
    align-items: center;
}

.block2A h2{
    color: white;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.alunosInscritos{
    display: flex;
    justify-content: baseline;
    align-items: center;
    height: 4.5rem;
}

.alunosInscritos figure{
    margin-top: 1.5rem;
}

.alunosInscritos p{
    margin-bottom: 0%;
    font-weight: 700;
    color: white;
    height: 1.5rem;
}

.section2{
    background-color: #040913;
    height: 160rem;
}

.block1B{
    height: 45rem;
    position: relative;
}

.vantagens{
    width: 5rem;
    color: white;
    font-size: 3rem;
    margin-left: 43%;
    margin-bottom: 0%;
    margin-right: 45%;
    display: flex;
    font-family: 'Archivo';
}

.gitDiagram{
    width: 43rem;
    height: 30rem;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 2.5rem;
    position: absolute;
}

.infos1{
    position: relative;
    top: 10rem;
    left: 27rem;
}

.fundoTransparente{
    position: absolute;
    width: 43rem;
    height: 25rem;
    border-radius: 3rem;
    opacity: 1;
}

.infosTexto1{
    margin-left: 3rem;
    margin-top: 1.5rem;
    position: absolute;
    font-size: 1.3rem;
    width: 35rem;
}

.gitImgs{
    position: relative;
    margin-left: 5rem;
    height: 17rem;
    width: 25rem;
}

.gitLogo{
    position: absolute;
}

.githubLogo{
    position: absolute;
    left: 10rem;
    top: 7rem;
}

.gitLogo{
    width: 18rem;
    height: 10rem;
}

.block2B{
    display: flex;
    justify-content: baseline;
    position: relative;
    height: 30rem;
}

.fundoTransparebte2{
    border-radius: 3rem;
    position: absolute;
    margin-left: 5%;
    height: 18rem;
    width: 43rem;
    opacity: 10;
}

.infos2{
    position: absolute;
    position: absolute;
    letter-spacing: 2%;
    font-size: 1.3rem;
    line-height: 170%;
    width: 30rem;
    left: 45%;
    top: 10%;
}

.grade{
    height: 25rem;
}

.gradeDoCurso{
    width: 50rem;
    margin-left: 5%;
    font-size: 3rem;
    display: flex;
    justify-content: baseline;
    margin-bottom: 3%;
    font-family: 'Archivo';
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 2%;
}

.gradeDoCurso span{
    padding-left: 1rem;
}

.gradeTabela{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gradeTabela p{
    color: white;
    font-weight: 500;
    margin-bottom: 0%;
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: 'Archivo'
}

.modulo1{
    display: flex;
    align-items: center;
    justify-content: baseline;
    width: 90%;
    height: 2.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.7rem;
    background-color: rgba(255, 255, 255, 0.651);
}

.modulo2{
    display: flex;
    align-items: center;
    justify-content: baseline;
    width: 90%;
    height: 2.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.7rem;
    background-color: rgba(255, 255, 255, 0.651);
}

.modulo3{
    display: flex;
    align-items: center;
    justify-content: baseline;
    width: 90%;
    height: 2.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.7rem;
    background-color: rgba(255, 255, 255, 0.651);
}

.moduloExtra{
    display: flex;
    align-items: center;
    justify-content: baseline;
    width: 90%;
    height: 2.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.7rem;
    background-color: rgba(255, 255, 255, 0.651);
}

.modulo1 div{
    display: flex;
    align-items: center;
    background-color: #ff4400;
    border-radius: 2rem;
    margin-left: 49rem;
    height: 1.7rem;
}

.modulo2 div{
    display: flex;
    align-items: center;
    background-color: #ff4400;
    border-radius: 2rem;
    margin-left: 41.7rem;
    height: 1.7rem;
}

.modulo3 div{
    display: flex;
    align-items: center;
    background-color: #ff4400;
    border-radius: 2rem;
    margin-left: 43.1rem;
    height: 1.7rem;
}

.moduloExtra div{
    display: flex;
    align-items: center;
    background-color: #ff4400;
    border-radius: 2rem;
    margin-left: 44.1rem;
    height: 1.7rem;
}

.profe{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profe h3{
    color: white;
    font-size: 3rem;
    margin-top: 7%;
    font-family: 'Archivo';
}

.nalu{
    border-radius: 100%;
    border-style: solid;
    border-width: 1rem;
    border-color: #ff4400;
    height: 30rem;
    width: 30rem;
}

.section3{
    background-color: #200F53;
    font-family: 'Archivo';
    display: flex;
    align-items: center;
    flex-direction: column ;
    color: white;
    height: 80rem;
}

.section3 h2{
    margin-top: 5%;
    margin-bottom: 6%;
    font-size: 3rem;
}

.perguntas{
    line-height: 170%;
    letter-spacing: 2%;
    margin-bottom: 20%
}

.perguntas p{
    margin-bottom: 0%;
    margin-left: 7%;
    margin-top: 2.7%;
    font-size: 1rem;
    font-weight: 500;
    line-height: 170%;
    letter-spacing: 2%;
}

.perguntas img{
    width: 25rem;
}

.perguntas button{
    background-color: transparent;
    height: 1rem;
    width: 1rem;
    border-style: none;
    margin-top: 6.5%;
}

.bi{
    color: white;
    width: 1.5rem;
    height: 1.5rem;
}

.questionPack1{
    display: flex;
    justify-content: baseline;
    gap: 10%;
}

.questions1 p{
    width: 12rem;
}

.questions1 button{
    margin-left: 25%;
}

.questions1{
    display: flex;
    justify-content: baseline;
    background-color: #3C4BAC;
    border-radius: 1rem;
    width: 26rem;
}

.questions2 p{
    width: 15rem;
}

.questions2 button{
    margin-left: 10%;
}

.questions2{
    background-color: #3C4BAC;
    border-radius: 1rem;
    display: flex;
    justify-content: baseline;
    height: 5rem;
    width: 26rem;
}

.questionPack2{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    gap: 10%;
}

.questions3 p{
    width: 15rem;
    margin-top: 7%;
}

.questions3 button{
    margin-left: 12.5%;
}

.questions3{
    background-color: #3C4BAC;
    border-radius: 1rem;
    display: flex;
    justify-content: baseline;
    width: 26rem;
}

.questions4 p{
    width: 13rem;
    margin-top: 3%;
}

.questions4 button{
    margin-left: 20%;
}

.questions4{
    background-color: #3C4BAC;
    border-radius: 1rem;
    display: flex;
    justify-content: baseline;
    height: 5rem;
    width: 26rem;
}

.sobreNos h4{
    font-size: 2.5rem;
    font-family: 'Archivo';
}

.sobreNos p{
    font-size: 2rem;
    font-family: 'Archivo';
    font-weight: 500;
    line-height: 175%;
    word-spacing: 20%;
    width: 65rem;
}

.redes{
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
    margin-left: 70%;
}

.redes button{
    background: #ff4400;
    border-radius: 0.7rem;
    border-style: none;
    height: 3rem;
}

.redes figure{
    margin-top: 20%;
    height: 3rem;
}

.faceebook img{
    margin-left: 20%;
}

.redes img{
    width: 2rem;
    height: 2rem;
}

.linkedin{
    margin-left: 15%;
}

.twitter{
    margin-left: 15%;
}

.facebook{
    margin-left: 15%;
}

.opcoes{
    height: 13rem;
    width: 15rem;
    display: flex;
    justify-content: baseline;
    border-radius: 1.5rem;
    background-color: black;
    position: absolute;
    left: 70rem;
}

.opc-icons{
    margin-top: 10%;
    margin-left: 8%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.opcoes button{
    background-color: transparent;
    border-style: none;
}

.opc-legendas{
    margin-top: 12%;
    width: 150%;
    color: white;
    font-family: 'Archivo';
}

.opc-legendas p{
    margin-bottom: 18%;
    margin-left: 10%;
    width: 100%;
}